@model InvoiceGenerator.Models.Users;
@{
    ViewData["Title"] = "Invoice Generator | Login";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<style>
    body{
background-color:hsla(303,0%,100%,1);
background-image:
radial-gradient(at 84% 39%, hsla(201,100%,82%,1) 0px, transparent 50%),
radial-gradient(at 96% 8%, hsla(248,58%,71%,1) 0px, transparent 50%),
radial-gradient(at 37% 94%, hsla(321,100%,86%,1) 0px, transparent 50%),
radial-gradient(at 4% 18%, hsla(193,96%,79%,1) 0px, transparent 50%);
    }
</style>
<body>
    <main>

      
        @*
        <div class="col-auto my-4">
            <form asp-action="Login" class="col-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Enter Valid Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Enter Valid Password</label>
                    <input asp-for="Password" class="form-control" />
                </div>
                @{
                    var printdata = ViewData["InvalidUser"];
                }
                <div class="form-group">
                    <label class="text-danger">@printdata</label>
                    <br />
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </main>
    *@
    <div class="d-flex align-items-center justify-content-center mt-5" style="height: 100%;">
  <form asp-action="Login" class="col-4">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group form-outline mb-4">
          <label asp-for="Email" class="control-label form-label">Email Address</label>
          <input asp-for="Email" class="form-control" placeholder="Email Address" />
          <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group form-outline mb-4">
          <label asp-for="Password" class="control-label form-label"> Password</label>
          <input asp-for="Password" class="form-control" placeholder="Password"/>
      </div>
      @{
          var printdata = ViewData["InvalidUser"];
      }
      <div class="form-group">
          <label class="text-danger">@printdata</label>
          <br />
          <input type="submit" value="Login" class="btn btn-primary btn-block mb-4" />
      </div>
      <div class="text-center">
        <p>New User? <a asp-action="Signup">Register</a></p>
      </div>
  </form>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
